dist/* linguist-documentation
docs/* linguist-documentation
dist_docs/* linguist-documentation
msaSDK/msastatic/* linguist-vendored
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false