# General Dependencies
aiomultiprocess~=0.9.0 # running a full AsyncIO event loop on each child process
aiofiles~=22.1.0 # handling local disk files in asyncio applications
types-aiofiles~=22.1.0 # Typing stubs for aiofiles
Babel~=2.10.3 # collection of tools for internationalizing Python applications
charset_normalizer~=2.1.1 #  read text from an unknown charset encoding
country_list~=1.0.0 # List of all countries with names and ISO 3166-1 codes in all languages and all data formats
dateparser~=1.1.1 # Generic parsing of dates in over 200 language locales plus numerous formats in a language agnostic fashion
date-parser-sari~=0.8.11 # A parser for recognising free-text dates
dynaconf~=3.1.9 # The dynamic configurator for your Python Project

# Dapr Dependencies
dapr~=1.7.0 # Dapr is a portable, serverless, event-driven runtime that makes it easy for developers to build resilient, stateless and stateful microservices that run on the cloud and edge
dapr-ext-grpc~=1.7.0 # gRPC extension for Dapr.
dapr-ext-fastapi~=1.7.0 # Dapr is a portable, serverless, event-driven runtime

# FastAPI related Dependencies
fastapi[all]~=0.85.0 # FastAPI framework, high performance, easy to learn, fast to code, ready for production
fastapi_utils~=0.2.1 # Reusable utilities for FastAPI, Repeated Tasks, APIModel, APISettings
fastapi_sessions~=0.3.2 # add session authentication to your FastAPI project
pyinstrument~=4.3.0 # pyinstrument to check service performance.
fastapi-users[sqlalchemy,oauth]~=10.1.5 # Ready-to-use and customizable users management for FastAPI
fastapi-pagination~=0.10.0 # library that provides pagination feature

# Other Dependencies
httpx~=0.23.0 # The next generation HTTP client.
hjson~=3.1.0 # Hjson, a user interface for JSON.
itsdangerous~=2.1.2 # Safely pass data to untrusted environments and back.
JPype1~=1.4.0 # A Python to Java bridge.
loguru~=0.6.0 # Python logging made (stupidly) simple
lxml~=4.9.1 # Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
multidict~=6.0.2 # Multidict is dict-like collection of key-value pairs where key might be occurred more than once in the container.
msgpack-asgi~=1.1.0 # Drop-in MessagePack support for ASGI applications and frameworks
parsedatetime~=2.6 # Parse human-readable date/time text.
passlib~=1.7.4 # comprehensive password hashing framework supporting over 30 schemes
PGPy~=0.5.4 # Pretty Good Privacy for Python
prometheus_fastapi_instrumentator~=5.9.1 # Instrument your FastAPI with Prometheus metrics
psutil~=5.9.2 # Cross-platform lib for process and system monitoring in Python.
python_magic~=0.4.27 # filetype and metadata detection
pydantic~=1.9.2 # Data validation and settings management using python type hints
python_dateutil~=2.8.2 # Extensions to the standard Python datetime module
python-dotenv~=0.20.0 # reads key-value pairs from a .env file and can set them as environment variables.
python-jose[cryptography]~=3.3.0 # SON Web Signature (JWS), JSON Web Encryption (JWE), JSON Web Key (JWK), and JSON Web Algorithms (JWA)
regex~=2022.3.2 # Alternative regular expression module, to replace re.
setuptools~=65.2.0 # Easily download, build, install, upgrade, and uninstall Python packages
slowapi~=0.1.6 # A rate limiting extension for Starlette and Fastapi

# Filesystem
fs~=2.4.16 # Module that provides a common interface to any filesystem.
six~=1.16.0 # Python 2 and 3 compatibility utilities
pysmb~=1.2.8 # SMB/CIFS library
fs.webdavfs~=0.4.2 # WebDAV support
fs-dlk~=0.1.3 # Azure Datalake support
fs-s3fs~=1.1.1 # Amazon S3 filesystem support
fs-gcsfs~=1.5.1 # Google Cloud Storage (GCS) support
fs.googledrivefs~=2.3.0 # Google Drive support
fs.dropboxfs~=0.2.2.post2 # Dropbox support
fs.onedrivefs~=1.1.1 # OneDrive support
fs.youtube~=0.3.1 # Youtube support
fs.smbfs~=1.0.5 # SMB support

# Scheduler
rocketry~=2.3.0 # Rocketry is a modern scheduling framework for Python applications

# Starlette related Dependencies
sse_starlette~=1.1.6 # Server Sent Events for Starlette and FastAPI
starlette~=0.20.4 # Starlette is a lightweight ASGI framework/toolkit, which is ideal for building async web services in Python.
Starlette-WTF~=0.4.3 # Simple integration of Starlette and WTForms.
starlette-context~=0.3.4 # Access context in Starlette
starception~=0.4.0 # Beautiful debugging page for Starlette apps.

# GraphQL related Dependencies
strawberry-graphql~=0.130.4 #A library for creating GraphQL APIs
strawberry-graphql[fastapi]~=0.130.4 # Strawberry provides support for FastAPI with a custom APIRouter called GraphQLRouter.

# SQL/No-SQL/DB related Dependencies
aiosqlite~=0.17.0 # asyncio bridge to the standard sqlite3 module
aioredis~=2.0.1 # asyncio (PEP 3156) Redis support
sqlmodel~=0.0.8 # SQLModel, SQL databases in Python, designed for simplicity, compatibility, and robustness.
sqlalchemy[asyncio]~=1.4.41 # Database Abstraction Library
sqlalchemy_database~=0.0.7 # SQLAlchemy-Database provides shortcut functions to common database operations for SQLAlchemy ORM
tinydb~=4.7.0 # TinyDB is a tiny, document oriented database

# Uvicorn/Gunicorn related Dependencies
gunicorn~=20.1.0 # WSGI HTTP Server for UNIX
uvicorn~=0.18.3 # The lightning-fast ASGI server.
uvloop~=0.17.0 # Fast implementation of asyncio event loop on top of libuv

# General Dependencies
autoflake~=1.6.0 # Removes unused imports and unused variables
flake8~=5.0.4 # modular source code checker: pep8 pyflakes and co
fonttools~=4.37.3 # Tools to manipulate font files
gputil~=1.4.0 # Python module for getting the GPU status from NVIDA GPUs using nvidia-smi.
isort~=5.10.1 # library to sort Python imports.
Jinja2~=3.1.2 # A very fast and expressive template engine.
matplotlib~=3.5.3 # Python plotting package
mypy~=0.971 # Optional static typing for Python
numpy~=1.23.3 # NumPy is the fundamental package for array computing with Python.
orjson~=3.8.0 # Fast, correct Python JSON library supporting dataclasses, datetimes, and numpy
pandas~=1.4.4 # Powerful data structures for data analysis, time series, and statistics
pandas-profiling~=3.3.0 # Generate profile report for pandas DataFrame
pillow~=9.2.0 # Python Imaging Library (Fork)
python-magic~=0.4.27 # File type identification using libmagic
python-multipart~=0.0.5 # A streaming multipart parser for Python
pytz~=2022.2.1 # World timezone definitions, modern and historical


# Documentation related Libraries
black~=22.8.0 # Code formatter.
mkdocs~=1.3.1 # Project documentation with Markdown.
mkdocstrings~=0.19.0 # Automatic documentation from sources, for MkDocs.
mkdocstrings-python~=0.7.1 # A Python handler for mkdocstrings.
mkdocs-material~=8.4.4 # Material Design theme for MkDocs
mkdocs-gen-files~=0.4.0 # MkDocs plugin to programmatically generate documentation pages during the build
mkdocs-literate-nav~=0.4.1 # MkDocs plugin to specify the navigation in Markdown instead of YAML
mkdocs-section-index~=0.3.4 # MkDocs plugin to allow clickable sections that lead to an index page
mkdocs-page-pdf~=0.1.0 # Generate a PDF file for each MkDocs page and adds a download button
mkdocs-git-revision-date-localized-plugin~=1.1.0
Pygments~=2.13.0 # generic syntax highlighter
Markdown~=3.3.7 # implementation of Markdown.
mdx-include~=1.4.2 # Markdown extension to include local or remote files
